html, body, #root {
  height: 100%;
}

body {
  background-color: #0093E9;
  background-image: linear-gradient(90deg, #009FCA 0%, #4963BA 100%);
}
.App {
  text-align: center;
  margin: auto;
  font-family: Helvetica, sans-serif;
}
h1 {
  margin-left: 60px;
  margin-top: -10px;
  padding-top: 100px;
}

h3 {
  margin-left: 20px;
  padding-top: 20px;
}

.activity {
  margin-left: 60px;
  width: 80%;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-width: 1px;
  background-color: white;
}

.dashboard {
  background-color: #FBFBFE;
  margin-top: 0;
  margin-left: -10px;
  text-align: left;
  padding-bottom: 40px;
  width: 108%;
}
.errorMessage {
  font-size: 12px;
  letter-spacing: 0.05rem;
  padding-left: 0.25rem;
}

.linechart {
  width: 90%;
  margin-left: 20px;
  padding-bottom: 80px;
}

.log {
  margin-left: 60px;
  margin-top: 40px;
  width: 80%;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-width: 1px;
  background-color: white;
}

.login {
  background-color: white;
  width: 30%;
  margin: 8% auto;
  border-radius: 20px;
  padding: 40px;
}

.login-button {
  font-size: 16px;
  width: 40%;
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #507BCE;
  border: none;
  border-radius: 3px;
  color: white;
}

.login-logo {
  padding-bottom: 40px;
  height: 80%;
  width: 80%;
}

.terms-text {
  margin-top: 80px;
  font-size: 10px;
  color: #909090;
}

.input {
  padding-top: 10px;
  padding-bottom: 2px;
  font-size: 14px;
  width: 80%;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #CEDCF4;
}

.table {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 80px;
  font-size: 18px;
  font-weight: 600;
}

table {
  width: 90%;
}
th {
  color: black;
  padding-bottom: 4px;
}
td {
  color: #344B8D;
  padding-bottom: 2px;
}

th, td {
  border-bottom: 1px solid #ddd;
}

.started {
  color: #52DC4C;
}

.completed {
  color: #009FCA;
}

.rejected {
  color: #FFA2A3;
}

@media only screen and (max-width: 600px) {
  .table {
    font-size: 12px;
  }
  th {
    display: none;
  }
}

.wrap-input {
  width: 100%;
  margin-top: 10px;
  border: 10px;
  border-bottom: 2px #CEDCF4;
}